.table{


    .cellWrapper{
        display: flex;
        align-items: center;
       
        .image{
            height: 32px;
            width: 32px;
            margin-right: 10px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .status{
        padding: 5px;
        border-radius: 5px;
        &.Approved{
            color: green;
            background-color: rgb(230, 248, 230);
        }

        &.Pending{
            color: goldenrod;
            background-color: rgb(255, 247, 226);
        }
    }
}