.home{
    display: flex;


    .homeContainer{
      
        flex: 6;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }
        .charts{
            padding:5px 20px;
        }
        .listContainer{
            -webkit-box-shadow: 12px 10px 4px 0px rgba(247,247,247,1);
            -moz-box-shadow: 12px 10px 4px 0px rgba(247,247,247,1);
            box-shadow: 12px 10px 4px 0px rgba(247,247,247,1);
            padding: 20px;

            .listTitle{
                font-weight: 500;
                color: grey;
                margin-bottom: 15px;
            }
        }
    }
}